
<div class="container-flex general">
    <div id="carouselExampleFade" class="carousel slide carousel-fade">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="./assets/Sabias-que.png" class="img-fluid">

            </div>
            <div class="carousel-item">
                <img src="./assets/y-que.png" class="img-fluid" alt="...">

            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>

<!-- Contenido -->

<div class="container" style="margin-block: 2em; background: url('../../assets/papel-arrugado.jpg');" id="registrarse">
    <h2 class="display-5 fw-bold lh-1 mb-3 text-center">Tipos de reciclajes</h2>
    <div class="">
        <div class="row mt-4" >
            <div class="col-md-6">
                <div class="card mb-4">
                    <h3 class="text-center" style="color: black;">Papel</h3>
                    <img src="./assets/r-papel.jpg" class="card-img-top custom-img" alt="Imagen de la receta">
                    <div class="card-body">
                        <h3 class="card-title" style="color: black;">Dato curioso</h3>
                        <p class="card-text">El papel es uno de los materiales más comunes en nuestra vida diaria. Para
                            reciclarlo de manera eficiente, sigue estos pasos:

                        </p>

                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card mb-4">
                    <h3 class="text-center" style="color: black;">Vidrio</h3>
                    <img src="./assets/r-vidrio.jpg" class="card-img-top custom-img" alt="Imagen de la receta">
                    <div class="card-body">
                        <h3 class="card-title" style="color: black;">Dato curioso</h3>
                        <p class="card-text">El vidrio es un material que puede ser reciclado infinitas veces. Aquí
                            tienes algunas recomendaciones para su reciclaje:

                            Separa los envases de vidrio de otros residuos y límpialos de etiquetas y restos de comida..
                        </p>

                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="card mb-4">
                    <h3 class="text-center" style="color: black;">Carton</h3>
                    <img src="./assets/r-carton.jpg" class="card-img-top custom-img" alt="Imagen de la receta">
                    <div class="card-body">
                        <h3 class="card-title" style="color: black;">Dato curioso</h3>
                        <p class="card-text">El cartón es otro material ampliamente utilizado en nuestra vida cotidiana
                            que merece ser reciclado. Cajas de embalaje, envases y muchos otros productos de cartón se
                            desechan regularmente, pero reciclarlos puede tener un impacto significativo en la
                            protección de nuestro planeta. Al igual que con otros materiales, asegúrate de que el cartón
                            esté limpio y sin contaminantes antes de reciclarlo.</p>

                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card mb-4">
                    <h3 class="text-center" style="color: black;">Plastico</h3>
                    <img src="/assets/r-plastico.jpg" class="card-img-top custom-img" alt="Imagen de la receta">
                    <div class="card-body">
                        <h3 class="card-title" style="color: black;">Dato curioso</h3>
                        <p class="card-text">El plástico es un material ampliamente utilizado que también puede
                            reciclarse. Aquí tienes algunas pautas:

                            Identifica los números de reciclaje en los envases de plástico. Enjuaga y limpia los envases
                            de plástico antes de reciclarlos.</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-flex border beneficio">
    <div class="text-center">
        <h2 class="none" style="color: white; font-size:70px; margin: 1em; font-weight: bold; text-align:center">
            Nuestros beneficios
        </h2>
    </div>

    <div class="container">
        <div class="row justify-content-center text-center align-items-center" style="margin-block: 5em;">
            <div class="col-md-3">
                <div class="circle-box">
                    <img src="./assets/recom.png" alt="Recompensas atractivas" width="80px">
                </div>
                <h3 style="color: white;">Recompensas atractivas</h3>
            </div>
            <div class="col-md-3">
                <div class="circle-box">
                    <img src="./assets/regis.png" alt="Registro fácil" width="80px">
                </div>
                <h3 style="color: white;">Registro fácil</h3>
            </div>
            <div class="col-md-3">
                <div class="circle-box">
                    <img src="./assets/impac.png" alt="Impacto ambiental" width="80px">
                </div>
                <h3 style="color: white;">Impacto ambiental</h3>
            </div>
            <div class="col-md-3">
                <div class="circle-box">
                    <img src="./assets/comu.png" alt="Comunidad comprometida" width="80px">
                </div>
                <h3 style="color: white;">Comunidad comprometida</h3>
            </div>
        </div>
    </div>
</div>


<div class="container-flex">
    <footer class=" text-center text-white" style="background-color:  #46B424;">
        <div class="container p-4 pb-0">
            <h4>RECICLAUPAO
                "Unidos por un campus más limpio y un planeta más saludable. 🌳🌎♻️"</h4>
            <link rel="stylesheet"
                href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
        </div>
        <div class="footer-bottom">
            <p>copyright &copy;2023 . designed by <span>RECICLAUPAO</span></p>
        </div>
    </footer>

</div>

<footer>
    <div class="footer-content">

        <h3 class="text-center">RECICLAUPAO</h3>
        <h4 class="text-center" style="color: white">"Unidos por un campus más limpio y un planeta más saludable.
            🌳🌎♻️"</h4>
        <div class="waves">
            <div class="wave" id="wave1"></div>
            <div class="wave" id="wave2"></div>
            <div class="wave" id="wave3"></div>
            <div class="wave" id="wave4"></div>
        </div>

        <div class="footer-bottom">
            <p>copyright &copy;2023 . designed by <span>RECICLAUPAO</span></p>
        </div>
    </div>
</footer>